<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <title>FAQs</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="css/fontawesome.css">
        <link rel="stylesheet" href="css/templatemo-plot-listing.css">
        <link rel="stylesheet" href="css/animated.css">
        <link rel="stylesheet" href="css/owl.css">
        <!--    TemplateMo 564 Plot Listing    https://templatemo.com/tm-564-plot-listing-->
        <link rel="stylesheet" href="/css/nuestros.css">
    </head>

    <body>
        <!-- ***** Preloader Start ***** -->
        <div id="js-preloader" class="js-preloader">
            <div class="preloader-inner">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown animated background-header" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="/" class="logo" style="width: 70px;">
                                <img src="images/perroygato.png" style="width: 60px; height: 60px;">
                            </a>

                            <!-- ***** Logo End ***** -->
                            <a href="/">
                                <span class="PFBEAUSANS-SEMIBOLD" style="font-size: 36px; color: var(--LAVENDER); vertical-align: bottom;">GESOC</span>
                            </a>

                            <!-- ***** Menu Start ***** -->
                            {{>headerMainTemplate.hbs}}
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <div class="main-banner2">
            {{>ingresoModal.hbs}}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-text header-text"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-12 text-center">
                    <h2 class="mt-5 mb-4 PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET">
                        FAQs
                    </h2>

                    <h6 class="PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET mt-4 mb-2" style="text-align: left;">
                        Encontré una mascota perdida, ¿qué hago?
                    </h6>
                    <p class="TXT-IZQ">
                        Podés dar aviso de la mascota perdida.<br>
                        Si la mascota tiene una chapita identificatoria, es porque tiene dueño. Para contactarlo, ingresá <a href="/encontreMascotaConChapita"><u>acá</u></a> así te indicamos los pasos a seguir.<br>
                        Si la mascota no tiene ninguna chapita, es porque no tiene dueño o es de la calle. Para agregar la mascota al sistema es necesario que estés registrado.
                    </p>

                    <h6 class="PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET mt-4 mb-2" style="text-align: left;">
                        Quiero registrar mi mascota, ¿cómo hago?
                    </h6>
                    <p class="TXT-IZQ">
                        Para registrar una mascota, es necesario estar registrado.<br>
                        Una vez registrado, podés ir a <a href="/panel"><u>tu panel de usuario</u></a> y buscar la opción "Registrar Mascota".
                    </p>

                    <h6 class="PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET mt-4 mb-2" style="text-align: left;">
                        Quiero adoptar una mascota, ¿cómo hago?
                    </h6>
                    <p class="TXT-IZQ">
                        Podés elegir la mascota que prefieras ingresando <a href="/adopcion"><u>acá</u></a>.<br>
                        Recordá que para poder adoptar una mascota es necesario que estés registrado.
                    </p>

                    <h6 class="PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET mt-4 mb-2" style="text-align: left;">
                        Perdí mi mascota, ¿cómo me avisan si alguien la encontró?
                    </h6>
                    <p class="TXT-IZQ">
                        Si tu mascota estaba registrada, podés elegir que el rescatista avise a tus contactos por WhatsApp, por e-mail y/o por SMS.
                    </p>

                    <h6 class="PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET mt-4 mb-2" style="text-align: left;">
                        ¿Cómo hago para agregar un contacto?
                    </h6>
                    <p class="TXT-IZQ">
                        En <a href="/panel"><u>tu panel de usuario</u></a>, buscá la opción "Agregar Contacto".
                    </p>

                    <h6 class="PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET mt-4 mb-2" style="text-align: left;">
                        Quiero dar en adopción una mascota, ¿qué hago?
                    </h6>
                    <p class="TXT-IZQ">
                        Ah, no tenés alma entonces. <br>
                        En fin, pedazo de desgraciado, lo que tenés que hacer es entrar <a href="/noTengoAlma"><u>acá</u></a>...
                    </p>

                    <h6 class="PFBEAUSANS-SEMIBOLD LETRAS-DARK_VIOLET mt-4 mb-2" style="text-align: left;">
                        ¿Venden mascotas?
                    </h6>
                    <p class="TXT-IZQ">
                        Todav-- no, no vendemos mascotas.
                    </p>
                </div>
            </div>
        </div>

        <footer>
            {{>footerMainTemplate.hbs}}
        </footer>

        <!-- Scripts -->
        <script src="jquery/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/animation.js"></script>
        <script src="js/imagesloaded.js"></script>
        <script src="js/custom.js"></script>
    </body>

</html>